#!/sbin/openrc-run

description="PHP-FPM VERSION"
name=php-fpm-VERSION
cfgfile="/etc/php/VERSION/php-fpm.conf"
command="/usr/sbin/php-fpmVERSION"
pid=/var/run/php/VERSION/php-fpm.pid

depend() {
    need net
    need localmount
    use dns logger
}

start_pre() {
    /bin/mkdir -p /var/run/php/VERSION
    $command --fpm-config $cfgfile -t
}

start() {
    $command --fpm-config $cfgfile
}

reload() {
    /bin/kill -USR2 $pid
}

stop() {
    /bin/kill -QUIT $pid
}

checkconfig() {
    $command --fpm-config $cfgfile -t
}