[Unit]
Description=PHP-FPM Server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PrivateTmp=yes
PIDFile=/var/run/php/VERSION/php-fpm.pid
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/mkdir /var/run/php/VERSION
ExecStartPre=/usr/sbin/php-fpmVERSION --fpm-config /etc/php/VERSION/php-fpm.conf -t
ExecStart=/usr/sbin/php-fpmVERSION --fpm-config /etc/php/VERSION/php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID
ExecStop=/bin/kill -QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
